@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.cell{
    background: #f3f3f3;
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    height:100px;
}

.cell:hover{
    background: #d4d4d4;
}

#game-board{
    max-width: 500px;
    max-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell-x{
    color: red;
}

.cell-o{
    color: green;
}

.game-gui{
    width: 500px;
    margin: 0 auto;
}

.player_desc, .player_title{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.player_title{
    border: 1px solid black;
}

.player_desc:first-of-type{
    margin-left: 0;
}

.player_desc:last-of-type{
    margin-right: 0;
}

.active{
    background-color: #dd3333;
    color: #f3f3f3;
}

.inactive{
    background-color: #f3f3f3;
    color: #dd3333;
}

.game-info{
    margin: 0 auto;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}